{% extends '::base.html.twig' %}

{% block front %}

<!-- Banner -->
                                <section id="banner">
                                    <div class="content">
                                        <header>
                                            <h1>Ecole de musique<br /></h1>
                                            <p>Cours de piano et théorie musical</p>
                                        </header>
                                        <p>Comment ils sont faits les cours de piano et théorie musical.</p>
                                        <ul class="actions">
                                            <li><a href="#" class="button big">Savoir plus</a></li>
                                        </ul>
                                    </div>
                                    <span class="image object">
                                        <img src="{{ asset('images/piano-header.jpg') }}" alt="" />
                                    </span>
                                </section>

                            <!-- Section -->
                                <section>
                                    <header class="major">
                                        <h2>Sujets abordés</h2>
                                    </header>
                                    <div class="features">
                                        <article>
                                            <span class="icon fa-diamond"></span>
                                            <div class="content">
                                                <h3>Solfège et théorie musical</h3>
                                                <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
                                            </div>
                                        </article>
                                        <article>
                                            <span class="icon fa-paper-plane"></span>
                                            <div class="content">
                                                <h3>Rythme</h3>
                                                <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
                                            </div>
                                        </article>
                                        <article>
                                            <span class="icon fa-rocket"></span>
                                            <div class="content">
                                                <h3>Lecture des partitions</h3>
                                                <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
                                            </div>
                                        </article>
                                        <article>
                                            <span class="icon fa-signal"></span>
                                            <div class="content">
                                                <h3>Ecoute musical</h3>
                                                <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
                                            </div>
                                        </article>
                                    </div>
                                </section>

                            <!-- Section -->
                                <section>
                                    <header class="major">
                                        <h2>Curiosités sur les compositeurs</h2>
                                    </header>
                                    <div class="posts">
                                        <article>
                                            <a href="#" class="image"><img src="{{ asset('images/chopin.jpg') }}" alt="" /></a>
                                            <h3>Chopin</h3>
                                            <p>Frédéric François Chopin (1 Mars 1810 – 17 Octobre 1849). Compositeur polonais.</p>
                                            <ul class="actions">
                                                <li><a href="#" class="button">Savoir Plus</a></li>
                                            </ul>
                                        </article>
                                        <article>
                                            <a href="#" class="image"><img src="{{ asset('images/mozart.jpeg') }}" alt="" /></a>
                                            <h3>Mozart</h3>
                                            <p>Wolfgang Amadeus Mozart (27 Janvier 1756 – 5 Décembre 1791). Compositeur allemand. </p>
                                            <ul class="actions">
                                                <li><a href="#" class="button">Savoir Plus</a></li>
                                            </ul>
                                        </article>
                                        <article>
                                            <a href="#" class="image"><img src="{{ asset('images/beethoven.jpg') }}" alt="" /></a>
                                            <h3>Beethoven</h3>
                                            <p>Ludwig van Beethoven (17 Décembre 1770 – 26 Mars 1827). Compositeur allemand.</p>
                                            <ul class="actions">
                                                <li><a href="#" class="button">Savoir Plus</a></li>
                                            </ul>
                                        </article>
                                        <article>
                                            <a href="#" class="image"><img src="{{ asset('images/bach.jpg') }}" alt="" /></a>
                                            <h3>Bach</h3>
                                            <p>Johann Sebastian Bach (31 Mars 1685 – 28 Julliet 1750). Compositeur allemand.</p>
                                            <ul class="actions">
                                                <li><a href="#" class="button">Savoir Plus</a></li>
                                            </ul>
                                        </article>
                                        <article>
                                            <a href="#" class="image"><img src="{{ asset('images/debussy.jpg') }}" alt="" /></a>
                                            <h3>Debussy</h3>
                                            <p>Achille-Claude Debussy (22 Août 1862 – 25 Mars 1918). Compositeur français.</p>
                                            <ul class="actions">
                                                <li><a href="#" class="button">Savoir Plus</a></li>
                                            </ul>
                                        </article>
                                        <article>
                                            <a href="#" class="image"><img src="{{ asset('images/schumann.jpg') }}" alt="" /></a>
                                            <h3>Schumann</h3>
                                            <p>Robert Schumann (8 Juin 1810 – 29 Juillet 1856). Compositeur allemand.</p>
                                            <ul class="actions">
                                                <li><a href="#" class="button">Savoir Plus</a></li>
                                            </ul>
                                        </article>
                                    </div>
                                </section>


                                {% endblock %}